/* Estilo para la página principal */
body {
    font-family: Arial, sans-serif;
    margin:10px;
    padding: 0;
    background-color: #9ab92a;
}

h1 {
    color: #d63131;
}

p {
    color: #072c3b;
}
h2 {
    color: #155cb9;
}
table {
    color: #000000d5;
    width: 50%;
    border-collapse: collapse;
}