/* Estilo para la página principal */
body {
    align-items: center;
    margin:10px;
    padding: 0;
    background-color: #5dc5ee85;
}

p {
    color: #030a0e;
}
h2 {
    align-items: center;
    max-width: 50%;
    color: #e24e13;
}
ol {
    align-items: center;
    max-width: 50%;
    display: block;
    color: #640606d5;  
    margin: auto;
    padding: auto;
    border: #030a0e solid 1px;
}
table {
    color: #000000d5;
    width: 50%;
    border-collapse: collapse;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3fa14c;
}
.container {
    align-items: center;
    display: flex;
    margin: 1px;
    padding: auto;
  
    height: 100%;
}
.table {
    display: inline-block;
    border: 1px solid rgb(209, 13, 13);
    padding: 8px;
    text-align: right;
}    
.div.contenedor.flotado.contenedor1 {
   border:3px dashed #e24e13;
   margin: auto;
   padding: 1PX;

   
}
.div.contenedor.flotado.contenedor2 {
   border: 3px dashed #e24e13;
   float: right;
}
.div.contenedor.contenedor3 {
 clear: both;
    border: 3px dashed #e24e13;
    margin: auto;
}
.menu li:hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e65c5c;
    text-align: right;
}
